-import com.avrisaac555.hackacm.Game
-@ val games: List[Game]

h2 Create a new game
form(name="newGame" action="/game" method="post")
    span Game Name
    input(type="text" name="gameName")
    br/
    span Player Name
    input(type="text" name="playerName")
    br/
    button(type="submit") New Game

br/

h2 Or join one!

.game-list
    - games match
        - case Nil =>
            = "Unfortunately, no public games are available at the time."
        - case _ =>
            ul
            - for (game <- games)
                li
                    :&markdown
                        **#{game.name}** started at #{game.beginTime}